.stock_thumb_api {
    color: var(--color-txt-sc-2);
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.stock_thumb_row {
    margin-bottom: 5px;
}

.stock_thumb_label {
    margin: 0;
}

.stock_thumb_col {
    margin-bottom: 5px;
}

.stock_thumb_form_control {
    color: #E1B032;
    background-color: #1C1C1C;
    border: 1px solid #E17232;
}

.stock_thumb_currency_card {
    background-color: var(--color-bg-2);
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 0 8px 0 var(--color-bg-shadow);
    transition: 0.3s;
    height: fit-content;
    @media(max-width: 992px) {
        margin-left: 0;
        margin-top: 30px;
        display: flex!important;
        justify-content: center!important;
    }
}

.stock_thumb_input_loading {
    position: absolute;
    z-index: 99;
    top: 45%;
    left: 47%;
    opacity: 1;
    color: var(--color-txt-sc-1)
}

.spinner_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color: #1C1C1C, $amount: 0);
    opacity: 0.8;
    z-index: 2;
}

.stock_thumb_input_container {
    position: relative;
}

.stock_thumb_card {
    background-color: var(--color-bg-2);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 0 8px 0 var(--color-bg-shadow);
    transition: 0.3s;
    height: fit-content;
    @media(max-width: 992px) {
        margin-left: 0;
        display: flex!important;
        justify-content: center!important;
    }
}

.stock_thumb_card_container {
    position: relative;
}

.stock_thumb_card_loading {
    position: absolute;
    z-index: 99;
    top: 40%;
    left: 47%;
    opacity: 1;
    color: var(--color-txt-sc-1)
}

.stock_thumb_card_title {
    font-size: clamp(var(--font-size-s), 2vw, var(--font-size-l));
}

.stock_thumb_card_title_href:hover {
    color: var(--color-txt-1);
}

.stock_thumb_card_faHeart {
    color: var(--color-txt-sc-1);
    position: absolute;
    &:hover {
        cursor: pointer;
    }
}

.stock_thumb_card_save_solid {
    opacity: 0;
    transition: var(--transition);
    &:hover {
        transform: scale(1.2);
        opacity: 1;
    }
}

.stock_thumb_card_faExpandAlt {
    transition: var(--transition);
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.stock_thumb_card_icon_col {
    vertical-align: 0;
    @media(max-width: 634px) {
        display: none;
    }
}

.stock_thumb_card_exchange {
    font-size: clamp(var(--font-size-xxs), 1.2vw, var(--font-size-xs));
    color: var(--color-txt-sc-2);
}

.stock_thumb_card_industry {
    margin-left: 10px;
    @media (max-width: 634px) {
        display: block;
        margin-left: 0;
    }
}

.stock_thumb_card_badge {
    color: var(--color-txt-sc-2);
    font-weight: 100;
    border: 1px solid var(--color-txt-sc-1);
    padding-bottom: 3px;
}

.stock_thumb_card_price {
    font-size: clamp(var(--font-size-s), 2vw, var(--font-size-l));
    @media (max-width: 634px) {
        margin-top: 10px;
    }
}

.stock_thumb_card_currency {
    font-size: clamp(var(--font-size-xs), 1.3vw, var(--font-size-s));
}

.stock_thumb_card_faArrowUp,
.stock_thumb_card_faArrowDown {
    margin-left: 10px;
}

.stock_thumb_card_pricec {
    font-size: clamp(var(--font-size-xxs), 1.2vw, var(--font-size-xs));
    margin-left: 15px;
    &[data-sign="negative"] {
        color: red;
        .stock_thumb_card_faArrowUp {
            display: none;
        }
        .stock_thumb_card_faArrowDown {
            display: inline;
        }
    }
    &[data-sign="positive"] {
        color: green;
        .stock_thumb_card_faArrowUp {
            display: inline;
        }
        .stock_thumb_card_faArrowDown {
            display: none;
        }
    }
    &[data-sign="neutral"] {
        color: var(--color-txt-sc-2);
        .stock_thumb_card_faArrowUp {
            display: none;
        }
        .stock_thumb_card_faArrowDown {
            display: none;
        }
    }
    @media (max-width: 634px) {
        display: block;
        margin-left: 0;
    }
}

.stock_thumb_card_latest_update {
    font-size: clamp(var(--font-size-xxs), 1.2vw, var(--font-size-xxs));
    color: var(--color-txt-sc-1);
    margin-top: 2px;
    @media (max-width: 634px) {
        margin-top: 10px;
    }
}

.stock_thumb_card_faClock {
    margin-right: 5px;
    transition: var(--transition);
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.stock_thumb_card_tradetime {
    color: var(--color-txt-sc-2);
    @media (max-width: 634px) {
        display: block;
    }
}

.stock_thumb_card_data {
    font-size: clamp(var(--font-size-xxs), 1.2vw, var(--font-size-xs));
    margin: 5px 0 0 0;
    padding: 0;
    @media (max-width: 634px) {
        display: block;
        margin-top: 10px;
    }
}

.stock_thumb_card_data_numbers {
    color: var(--color-txt-sc-2);
    margin-left: 4px;
}

.stock_thumb_base_cur {
    text-align: center;
    text-align-last: center;
    margin-bottom: 20px;
}

.stock_thumb_base_cur_label {
    margin-bottom: 5px;
}

.stock_thumb_base_cur_input {
    color: #E1B032;
    background-color: var(--color-bg-2);
    border: 1px solid #E17232;
}

.stock_thumb_compared_cur {
    text-align: center;
}

.stock_thumb_compared_cur_label {
    margin-bottom: 5px;
}

.stock_thumb_compared_cur_list_item {
    background-color: var(--color-bg-2);
    font-size: clamp(var(--font-size-xxs), 1.2vw, var(--font-size-xs));
    color: var(--color-txt-sc-1);
    @media(max-width: 540px) {
        display: grid;
        justify-items: center;
    }
}

.stock_thumb_compared_cur_value {
    color: var(--color-txt-sc-2);
}

.stock_thumb_compared_cur_item_remove {
    float: left;
    transition: var(--transition);
    @media(max-width: 540px) {
        margin-bottom: 5px;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}